<div>
		<if condition="$temp_tid eq 1 ">
			<div class = "text11">
				<div class = "text11_title">
					<p>关于我们</p>
				</div>

		<elseif condition = "$temp_tid eq 2 "/>
			<div class = "text11">
				<div class = "text11_title">
					<p>联系我们</p>
				</div>

		<elseif condition = "$temp_tid eq 3 "/>
			<div class = "text11">
					<div class = "text11_title">
						<p>合作伙伴</p>
					</div>
		<elseif condition = "$temp_tid eq 4 "/>
			<div class = "text12">
				<div class = "text11_title">
					<p>服务条款</p>
				</div>
			
			
		<elseif condition = "$temp_tid eq 5 "/>
			<div class = "text11">
					<div class = "text11_title">
						<p>加入我们</p>
					</div>
			</div>
			
		<elseif condition = "$temp_tid eq 6 "/>
			<div class = "text13">
					<div class = "text11_title">
						<p>隐私声明</p>
					</div>
			</div>
		</if>
</div>
